.signup-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-page .main {
  display: flex;
  width: 80%;
  max-width: 1600px;
  height: 80vh;
  border-radius: 20px;
  overflow: hidden;
  background-color: #1a1a1a;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .signup-page .main {
    width: 95%;
    height: 55vh;
  }
}
@media (min-width: 900px) and (max-width: 999px) {
  .signup-page .main {
    flex-direction: column;
    height: 90vh;
    background-color: #000000;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .signup-page .main {
    flex-direction: column;
    height: 90vh;
    background-color: #000000;
    width: 100%;
  }
}
.signup-page .main .left {
  padding: 2rem;
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 900px) {
  .signup-page .main .left {
    padding: 0 1rem;
  }
}
@media (min-width: 900px) and (max-width: 999px) {
  .signup-page .main .left {
    padding: 0 1rem;
  }
}
.signup-page .main .left .logo {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.signup-page .main .left .logo img {
  width: 150px;
}
@media (max-width: 900px) {
  .signup-page .main .left .logo img {
    width: 100px;
  }
}
.signup-page .main .left .header {
  margin: 0 auto 2rem auto;
}
.signup-page .main .left .header h1 {
  color: #FFFFFF;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 900px) {
  .signup-page .main .left .header h1 {
    font-size: 1.8rem;
  }
}
@media (min-width: 900px) and (max-width: 999px) {
  .signup-page .main .left .header h1 {
    font-size: 1.8rem;
  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .signup-page .main .left .header h1 {
    font-size: 1.8rem;
  }
}
.signup-page .main .left .header p {
  color: #e6e6e6;
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 900px) {
  .signup-page .main .left .header p {
    font-size: 1.2rem;
    text-align: center;
  }
}
@media (min-width: 900px) and (max-width: 999px) {
  .signup-page .main .left .header p {
    font-size: 1.2rem;
    text-align: center;
  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .signup-page .main .left .header p {
    font-size: 1.2rem;
  }
}
.signup-page .main .left form {
  margin: 0 auto;
  max-width: 500px;
}
.signup-page .main .left form #input-error {
  border: 2px solid #ffd700;
}
.signup-page .main .left form .emailSpan {
  font-weight: 500;
  font-size: 1.4rem;
  color: #ffd700;
}
@media (max-width: 900px) {
  .signup-page .main .left form .emailSpan {
    font-size: 1.2rem;
  }
}
.signup-page .main .left form .email {
  display: flex;
  align-items: center;
  background-color: #333333;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 900px) {
  .signup-page .main .left form .email {
    padding: 0.5rem 0.8rem;
  }
}
.signup-page .main .left form .email .icon {
  margin-right: 1rem;
}
.signup-page .main .left form .email .icon svg {
  fill: #e6e6e6;
}
.signup-page .main .left form .email input {
  background: transparent;
  border: 0;
  width: 400px;
  color: #FFFFFF;
  font-size: 1.4rem;
  outline: none;
}
.signup-page .main .left form .email input:-webkit-autofill, .signup-page .main .left form .email input:-webkit-autofill:hover, .signup-page .main .left form .email input:-webkit-autofill:focus, .signup-page .main .left form .email input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #FFFFFF !important;
}
.signup-page .main .left form .email input::-moz-placeholder {
  color: #e6e6e6;
}
.signup-page .main .left form .email input::placeholder {
  color: #e6e6e6;
}
@media (max-width: 900px) {
  .signup-page .main .left form .email input {
    width: 70vw;
    font-size: 1.1rem;
  }
}
.signup-page .main .left form .submit-button {
  margin-bottom: 1.5rem;
}
.signup-page .main .left form .submit-button button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: #ffd700;
  color: #000000;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.signup-page .main .left form .submit-button button:hover {
  background-color: #ccac00;
}
@media (max-width: 900px) {
  .signup-page .main .left form .submit-button button {
    width: 90%;
    padding: 0.7rem;
    margin: 0 auto;
  }
}
.signup-page .main .left form .or {
  display: flex;
  align-items: center;
  color: #e6e6e6;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
@media (max-width: 900px) {
  .signup-page .main .left form .or {
    font-size: 1.2rem;
  }
}
.signup-page .main .left form .or hr {
  flex: 1;
  border: none;
  border-top: 1px solid #FFFFFF;
  margin: 0 1rem;
}
.signup-page .main .left form .alt-auth button {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.signup-page .main .left form .alt-auth button:hover {
  color: #000000;
  background-color: white;
  border: none;
}
.signup-page .main .left form .alt-auth button:hover svg,
.signup-page .main .left form .alt-auth button:hover span {
  filter: drop-shadow(0 1px 0.3px #000000);
}
@media (max-width: 900px) {
  .signup-page .main .left form .alt-auth button {
    width: 90%;
    padding: 0.7rem;
    margin: 0 auto;
  }
}
.signup-page .main .left form .alt-auth button :active {
  transform: scale(0.98);
  color: #000000;
}
.signup-page .main .left form .alt-auth button svg {
  padding: 0 1rem 0 0;
}
.signup-page .main .right {
  flex: 1;
  max-width: 50%;
  min-width: 50%;
}
@media (max-width: 900px) {
  .signup-page .main .right {
    display: none;
  }
}
@media (min-width: 900px) and (max-width: 999px) {
  .signup-page .main .right {
    display: none;
  }
}
.signup-page .main .right .main {
  height: 100%;
  width: 100%;
}
.signup-page .main .right .main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}/*# sourceMappingURL=signup.css.map */

.signup-container .main .left form .signup-alt {
  margin: 1rem auto;
}
.signup-container .main .left form .signup-alt p {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.5rem;
}
@media (max-width: 900px) {
  .signup-container .main .left form .signup-alt p {
    font-size: 1.2rem;
  }
}
.signup-container .main .left form .signup-alt p a {
  color: #ffdf33;
}